/* GENEREAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
}

.website{
    max-width: 1500px;
    min-width: 550px;
    margin: auto;
    width: 80%;
}


li{  
    list-style-type: none;
}

a{  
    text-decoration: none;
    text-transform: uppercase;
}

main p{
    color: grey;
}

h5{
    padding: 15px 0
}



/* THE HOVER'S && ACTIVE */
a:hover{
    color: black;
    /* font-size: 16px;  NOT RESPONSIVE ore have to change in UTILITY -> .window -> min-width; */
    font-weight: bold;
}
.opacity:hover{
    background-color: rgba(0, 0, 0, 0.453);
}



/* UTILITYS */
.float{
    float: left;
    /* background-color: #ABCFE7; */
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.opacity{
    background-color: rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 100%;
}

.overflow{
    overflow: hidden;
}
.border-radius{
    border-radius: 15px;
}
.col-img{
    width: 100%;
    height: 180px;
}


/* HEADER  */
header .heading{
    height: 100px;
    margin-bottom: 20px ;
    /* background-color: #E579E6; */
}

/* LOGO  */
header .heading .logo{
    height: 100%;
}


/* NAV  */
nav{
    /* background-color: #0081EF; */
    height: 100%;
    padding: 15px 0;

}
a{  
    display: inline-block;
    padding: 25px 8px;
    color: grey;
    font-size: 1rem;
    /* background-color: red; */
}



/* SECOND HEADER && JUMBO */
header .heading-second{
    height: 500px;
    background-color: #E1D67A;
    margin: 20px 0;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jambo-h{
    width: 500px;
    padding-top:20% ;
    margin-left: 30px;
    color: white;
}




/* MAIN  */
main{
    min-height: 700px;
    /* background-color: #0081EF; */
}

.col-container{
    padding: 17.5px 0;
}
aside{
    width: 14%;
}

section{
    width: 70%;
    margin: 0% 1%;
}

/* MAINHEADER  */
.mainheader{
    /* background-color: #ABCFE7; */
    height: 100px;
    padding: 10PX;
}
.mainheader p{
    padding: 3px;
    color: grey;
        
}

/* MAIN-COLUMNS */
.left{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    background-size: cover;

}

.center{
    background-image: url(../img/banner-2.jpg);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

.right{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-position: center;
}






/* FOOTER  */
footer{
    height: 70px;
    /* background-color: #8801FE ; */
    margin: 5px auto 20px auto;
}
.extra{
    max-width: 1500px;
    min-width: 500px;
    margin:8px auto 20px auto;
    width: 80%;
}

.copyrights{
    /* background-color: red; */
    line-height: 70px;
    text-align: center;
}
span{
    font-size: 25px;
    color: red;
}