/* GENEREAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

.website{
    max-width: 1500px;
    min-width: 500px;
    margin: auto;
    width: 80%;
}


li{  
    list-style-type: none;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}



/* UTILITYS */
.float{
    float: left;
    background-color: #ABCFE7;
    height: 565px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


/* HEADER  */
header .heading{
    height: 100px;
    margin-bottom: 20px ;
    background-color: #E579E6;
}

/* LOGO  */
header .heading .logo{
    height: 100%;
}


/* NAV  */
nav{
    background-color: #0081EF;
    height: 100%;
    display: inline-block;
}
a{  
    line-height: 50px;
    display: inline-block;
    padding: 25px;
    background-color: red;
}



/* SECOND HEADER || JUMBO */
header .heading-second{
    height: 500px;
    background-color: #E1D67A;
    margin: 20px 0;

}



/* MAIN  */
main{
    height: 700px;
    background-color: #0081EF;
}




.mainheader{
    background-color: #ABCFE7;
    height: 100px;
}

.col-container{
    padding: 17.5px 0;
}
aside{
    width: 14%;
}

section{
    width: 70%;
    margin: 0% 1%;
}

/* FOOTER  */
footer{
    height: 70px;
    background-color: #8801FE ;
    margin: 5px auto 20px auto;
}
.extra{
    max-width: 1500px;
    min-width: 500px;
    margin:8px auto 20px auto;
    width: 80%;
}